*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body {
    font-family: 'Times New Roman', sans-serif;
    background-image: url("IMG/white-abstract.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 3%;
    position: relative;
}

.tilbageknap {
    position: fixed;
    right: 0;

    width: 200px;
    height: 40px;
    padding: 5px;
    border: 5px;
    /*border-style: solid;
    border-width: medium;
    border-color: black;*/
}

.marker{
    position: fixed;
    right: 0;
    width: 200px;
    height: 40px;
    padding: 5px;
    border: 5px;
    margin-top: 250px;

    /*background-color: #4CAF50; /* Green
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;*/

}

#cpr {
}

.dropdown {
    margin-top: 50px;
    /*background-color: rgb(11,71,144);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    se https://www.w3schools.com/css/css_dropdowns.asp*/
}




/* til hvis der ønskes en baggrund..
.baggrund{
    height: 70vh;
    width: 50%;
    background-image: url("IMG/EKGbaggrund.png");
    font-family: 'Times New Roman', sans-serif;
    background-position: center;
    background-size: cover;
    padding-right: 10%;
    padding-left: 10%;
    box-sizing: border-box;
    position: relative;
}*/