
/* baggrund */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', sans-serif;
    background-image: url("IMG/white-abstract.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    position: relative;
}

#goBackButton {
    position: fixed;
    right: 1%;
    top: 1%;
    width: 100px;
}
#searchCPR{
    width: 50px
}
#cpr{
    height: 30px;
}
/* classer til standard knap */
.button1 {
    border: 1px solid rgb(11, 71, 144);
    background-color: rgb(11, 71, 144);
    color: white;
    height: 30px;
    font-family: "Times New Roman", sans-serif;
}

.button1:hover {
    background-color: dodgerblue;
}

.button1:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* klasser til sessions knapper */
.button2 {
    margin: 10px;
    border: 1px solid rgb(11, 71, 144);
    background-color: rgb(11, 71, 144);
    color: white;
    height: 50px;
    width: 90%;
    font-family: "Times New Roman", sans-serif;
}

.button2:hover {
    background-color: dodgerblue;
}

.button2:active {
    background-color: dodgerblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* indstillinger til grafen */
#myChart {
    left: 17%;
    right: 17%;
    background-color: ghostwhite;
    position: absolute;
    border:1px solid #000000;
    border-radius: 5px;
    top: 145px;

    max-width: 65%;
    max-height: 60%;
}

/* felt der skal indeholde sessioner*/
.sessionsField{
    position: fixed;
    border: 1px;
    margin: 1px;
    top: 145px;
    width: 15%;
    min-height: 60%;
    padding: 5px;
    background: grey;
    color: black;
    left: 1%;
    grid-template-rows: max-content;
}

.commentField{
    position: fixed;
    border: 1px;
    margin: 1px;
    top: 145px;
    width: 15%;
    min-height: 210px;
    padding: 5px;
    background: grey;
    color: black;
    right: 1%;
    grid-template-rows: max-content;
}
.comment{
    width: 100%;
    min-height: 200px;
    padding: 2px 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}
#commentButton{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 1px;
}
